body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("/assets/img/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*
    Posicion Calculadora
*/

#calculadora{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*Centramos la calculadora en medio de la pagina del navegador*/
}

form{
    border: 1px solid black;
    box-shadow: 5px 5px black;
}

/*Estilos botones*/
input[type="button"] {
    padding: 14px;
    font-size: 1.2em;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
    box-shadow: 1px 1px black;
}

input[type="button"]:hover {
    /* Estilo cuando se pasa el mouse por encima */
    background-color: #0056b3;
    transform: scale(1.2);
}

input[type="text"]{
    border: 2px;
    box-shadow: 1px 1px 10px black;
}
h1{
    text-align: center;
    margin: 5%;
}

/*Estilo Boton modal*/
#cajaModal{
    text-align: center;
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

#botonModal{
    transition: 0.3s ease-in-out;
}

#botonModal:hover{
    background-color: black;
    color: white;
    transform: scale(2.0);
}

